<div class="w-full px-10 py-5 bg-white rounded-xl shadow center-align">
  <input type="hidden" id="idx">
  <input type="hidden" id="manager_id">
  <div class="w-full flex items-center mb-3">
    <label class="w-1/6 font-bold text-black" for="subs_remittance_amount">이메일</label>
    <input class="w-5/6 form-control" maxlength="200" type="text" id="manager_email" placeholder="비밀번호를 발송받을 이메일을 입력하세요.">
  </div>




  <div class="flex justify-end">
    <button class="basic-btn-2 btn-default-bg-color text-sm text-white py-1 px-3 ml-2" id="btn_regen_admin_email">재발송</button>
    <button class="basic-btn-2 bg-red-400 text-sm text-white py-1 px-3 ml-2" id="btn_close_pop">닫기</button>
  </div>
  
</div>
