<div class="w-full">
  <div class="card">
    <div class="card-header p-4 bg-white">
      <h5 class="text-lg md:text-xl font-bold">문의 목록</h5>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table text-nowrap">
          <thead class="table-light">
            <tr>
              <th>번호</th>
              <th>이름</th>
              <th>상품유형</th>
              <th>상품명</th>
              <th>전담디자이너</th>
              <th>작성일</th>
              <th>작업여부</th>
            </tr>
          </thead>
          <tbody id="contact_list">
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>