<div class="w-full">
  <div class="card">
    <div class="card-header p-4 bg-white flex items-center gap-2">
      <h5 class="text-base font-bold">다운로드 리스트</h5>
      <button class="basic-btn-2 text-sm bg-red-400 text-white py-1 px-3" id="btn_down_del">선택삭제</button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="cell-border text-nowrap" id="down_list_table">
          <thead style="background-color: #f1f5f9;">
            <tr>
              <th class="text-center">선택박스</th>
              <th class="text-center">다운로드 날짜</th>
              <th class="text-center">다운로드한 아이디</th>
              <th class="text-center">이름</th>
              <th class="text-center">다운로드 파일명</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>