<div class="w-full">
  <div class="card">
    <div class="card-header p-4 bg-white flex items-center gap-2">
      <h5 class="text-base font-bold">교육관리</h5>
      <button class="basic-btn-2 text-sm btn-default-bg-color text-white py-1 px-3" id="btn_class_write">교육 추가</button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <!-- <table class="table text-nowrap cell-border" id="main_table"> -->
          <table class="text-nowrap cell-border" id="main_table">
          <thead style="background-color: #f1f5f9;">
            <tr>
              <th class="text-center">선택박스</th>
              <th class="text-center">교육시간 관리</th>              
              <th class="text-center">활성화</th>              
              <th class="text-center fixed-column">교육 과정명(국문)</th>
              <th class="text-center">교육 과정명(중문)</th>
              <th class="text-center">교육 과정명(영문)</th>
              <th class="text-center">중문교육 담당자</th>
              <th class="text-center">영문교육 담당자</th>
              <th class="text-center">전화번호</th>
              <th class="text-center">팩스번호</th>
              <th class="text-center">이메일</th>
              <th class="text-center">영문교육신청시 달러</th>
              <th class="text-center">영문교육신청시 한화</th>
              <th class="text-center">중문교육신청시 달러</th>
              <th class="text-center">중문교육신청시 한화</th>
            </tr>
          </thead>
          <tbody id="class_list">
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>