<div class="w-full">
  <div class="card">
    <div class="card-header p-4 bg-white flex items-center gap-2">
      <h5 class="text-base font-bold">신청현황</h5>
      <button class="basic-btn-2 text-sm bg-red-400 text-white py-1 px-3" id="btn_chk_del">선택삭제</button>
      <button class="basic-btn-2 text-sm btn-default-bg-color text-white py-1 px-3" id="subs_list_view_type">삭제된 내역 보기</button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="text-nowrap cell-border" id="subs_list_table">
          <thead style="background-color: #f1f5f9;">
            <tr>
              <th class="text-center">선택박스</th>
              <th class="text-center">신청상태</th>
              <th class="text-center">결제여부</th>
              <th class="text-center">신청국가</th>
              <th class="text-center">교육 날짜</th>             
              <th class="text-center">교육생명(중문)</th>
              <th class="text-center fixed-column">교육생명(영문)</th>
              <th class="text-center">교육 과정명(국문)</th>
              <th class="text-center">교육 과정명</th>
              <th class="text-center">교육생 wechat</th>
              <th class="text-center">생년월일</th>
              <th class="text-center">직위</th>
              <th class="text-center">성별</th>
              <th class="text-center">신분번호</th>
              <th class="text-center">연락처</th>
              <th class="text-center">이메일 주소</th>
              <th class="text-center">ZIPCODE</th>
              <th class="text-center">업체명(중문)</th>
              <th class="text-center">업체명(영문)</th>
              <th class="text-center">업체명(국문)</th>
              <th class="text-center">공장주소(중문)</th>
              <th class="text-center">공장주소(영문)</th>
              <th class="text-center">대표자 영문명</th>
              <th class="text-center">에이전트</th>
              <th class="text-center">에이전트 담당자</th>
              <th class="text-center">에이전트 연락처</th>
              <th class="text-center">에이전트 이메일</th>
              <th class="text-center">에이전트 wechat</th>
              <th class="text-center">교육 신청 날짜</th> 
              <th class="text-center">송금통화</th>
              <th class="text-center">인보이스</th>
              <th class="text-center">입금일자</th>
              <th class="text-center">송금액</th>
              <th class="text-center">매출액</th>
              <th class="text-center">입금자명</th>
              <th class="text-center">적요</th>
              <th class="text-center">선수 전표번호</th>
              <th class="text-center">계산서 구분</th>
              <th class="text-center">매출전표</th>
            </tr>

          </thead>
          <tbody id="class_list">
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>