<div class="w-full">
  <div class="card">
    <div class="card-header p-4 bg-white flex items-center gap-2">
      <h5 class="text-base font-bold">계정 관리</h5>
      <button class="basic-btn-2 text-sm btn-default-bg-color text-white py-1 px-3" id="btn_member_plus_popup">계정추가</button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="cell-border text-nowrap" id="user_list_table">
          <thead style="background-color: #f1f5f9;">
            <tr>
              <th class="text-center">선택박스</th>
              <th class="text-center">아이디</th>
              <th class="text-center">이름</th>
              <th class="text-center">이메일</th>
              <th class="text-center">최근 로그인 일시</th>
            </tr>
          </thead>
          <tbody id="class_list">
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>